.MuiInputBase-input {
    text-align: center;
}

.MuiFormControl-root {
    margin: 0 !important;
    width: 100% !important;
}

.MuiAutocomplete-root {
    width: 100% !important;
    padding: 1px !important;
}

.MuiOutlinedInput-root {
    padding: 2px !important;
}

.MuiAutocomplete-endAdornment {
    display: none;
}